*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.product__definition{
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-top: 61px;
  margin-bottom: 0;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.product__title{
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
  margin-top: 16px;
  margin-bottom: 0;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.product__title:hover,
.product__definition:hover {
  cursor:default;
  letter-spacing: 0.8em;
}

.product__list{
  display: flex;
  justify-content: space-between;
  margin-top: 281px;
  margin-bottom: 60px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0;
  
}

.product__item{
  position: relative;
  height: 535px;
}

.product__card{
  padding-top: 165px;
  padding-bottom: 60px;
  padding-left: 64px;
  padding-right: 63px;
  width: 368px;
  height: 535px;
  border-radius: 24px;
}

.product__card--ice-cream{
  background-color: #FFB8CA;
}

.product__card--ice-cream::before{
  background-size: contain;
  content: "";
  position:absolute;
  top: -260px;
  left: 0px;
  background-image: url(../images/ice-cream.png);
  background-repeat: no-repeat;
  z-index:1;
  width: 368px;
  height: 394px;
  transition-property: transform;
  }

.product__card--ice-coffee{
  background-color: #F0D1A5;
}

.product__card--ice-coffee::before{
  background-size: contain;
  content: "";
  position:absolute;
  top: -260px;
  left: 0px;
  background-image: url(../images/ice-coffee.png);
  background-repeat: no-repeat;
  z-index:1;
  width: 368px;
  height: 394px;
  }

.product__card--milkshake{
  background-color: #C2E297;
}

.product__card--milkshake::before{
  background-size: contain;
  content: "";
  position:absolute;
  top: -260px;
  left: 0px;
  background-image: url(../images/milkshake.png);
  background-repeat: no-repeat;
  z-index:1;
  width: 368px;
  height: 394px;
  }

  
  .product__card::after{
    position: absolute;
    content: "";
    background-size: contain;
    background-image: url(../images/3-dots.png);
    background-repeat: no-repeat;
    z-index: 1;
    width: 24.84px;
    height: 6px;
    margin-bottom: 32px;
    left: 175px;
    top: 235px;
  }

.product__name{
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 70px;
  position: relative;
  transition-property: transform;
}

.product__description{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 60px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height: 106px;
  width: 245px;
}

.product__button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50px;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  transition-property:background-color, transform;
  transition: all;
}

.product__button--icon{
  fill: #D41443;
}

.product__card:hover .product__button--icon{
  fill:#FFFFFF;
}

.product__card:hover{
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(rgba(127, 128, 133, 0.4), rgba(123, 124, 131, 0.4))
}
  
.product__card:hover .product__name,
.product__card:hover .product__description{  
 transform: scale(1.1);
}

.product__card:hover .product__button{
 background-color: #D41443;
 transform: rotate(-90deg) scale(1.1);
 cursor: pointer;
 border-radius: 15px;
}