.header {
  margin: auto;
  height: 664px;
  width: 1280px;
  background-color: #FFB8CA;
  position: relative;
}

.header__container {
  margin-top: 52px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  Vertical-align: center;
}

.header__title {
  top: 150px;
  left: 20px;
  text-align: left;
  width: 277px;
  position: absolute;
}

.header__container-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-left: 90px;
  z-index: 3;
  align-items: center;
}

.header__nav-link {
  font-family: "DM Sans";
  Font-style: bold;
  font-weight: 700px;
  line-height: 20.83px;
  Font-size: 16px;
  text-align: center;
  text-decoration: none;
  Vertical-align: center;
  color: white;
  z-index: 3;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active,
.header__contact:hover {
  color: #D41443;
  transform: translateY(-20px);
}

.header __nav-link::before,
.header __nav-link::after {
  font-size: 30px;
}

.header__button-buy {
  width: 159px;
  height: 44px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 22px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 10%;
  letter-spacing: 6%;
  color: #D41443;
  text-align: center;
  margin-left: 175px;
}

.header__buttons {
  display: flex;
  top: 320px;
  margin-left: 20px;
  width: 255px;
  justify-content: space-between;
  position: absolute;
}

.header__circle {
  height: 534px;
  width: 534px;
  border-radius: 267px;
  background-color: #FFA5BA;
  position: absolute;
  padding: 0px;
  top: 54px;
  margin-left: 580px;
  margin-top: 1px;
  z-index: 1;
}

.header__img-ice {
  position: relative;
  left: 130px;
  top: 100px;
  right: 0;
}

.header__img-milk {
  position: absolute;
  left: 10px;
  top: 420px;
  right: 0;
  fill: #D41443;
  background-image: red;
}

.header__milk-text {
  height: 78px;
  width: 200px;
  position: absolute;
  left: 269px;
  top: 456px;
  Font-family: "DM Sans";
  Font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  line-height: 140%;
  text-align: left;
  vertical-align: top;
}

.header__arrow {
  position: absolute;
  left: 269px;
  top: 554px;
}

.header__container-girl {
  position: absolute;
  left: 950px;
  top: 422px;
  right: 0;
  z-index: 3;
}

.header__list-number {
  position: absolute;
  left: 1152px;
  top: 156px;
  right: 0;
  padding: 0px;
  margin: 0px;
  line-height: 0;
  align-items: left;
}

.header__button-products {
  width: 107px;
  height: 40px;
  background-color: #D41443;
  border: none;
  border-radius: 22px;
  Font-family: "DM Sans";
  Font-weight: 400;
  font-size: 14px;
  line-height: 10%;
  letter-spacing: 6%;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header__button-products:hover,
.header__button-how:hover,
.header__button-buy:hover {
  transform: translateY(-5px);
}

.header__button-how {
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 22px;
  Font-family: "DM Sans";
  Font-weight: 400;
  font-size: 14px;
  line-height: 10%;
  letter-spacing: 6%;
  color: #D41443;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header__contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
  color: #757575;
}

.header__icon {
  width: 199px;
  height: 50px;
}

.header__circle-up {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  position: absolute;
  padding: 0px;
  margin-left: 1194px;
  margin-top: 152px;
  z-index: 0;
}

.header__circle-down {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  position: absolute;
  padding: 0px;
  margin-left: 1194px;
  margin-top: 244px;
  z-index: 0;
}

.header-text1 {
  font-family: "Titan One";
  font-weight: 400;
  Font-size: 38px;
  text-align: Left;
  Vertical-align: Center;
  color: white;
}

.header-text2 {
  font-family: "Titan One";
  font-weight: 400;
  Font-size: 58px;
  text-align: Left;
  Vertical-align: Center;
  color: #D41443;
}

.header-list-number {
  font-family: "Titan One";
  font-weight: 400px;
  Font-size: 46px;
  Line-height: 53px;
  Line-height: 100%;
  Letter-spacing: 4%;
  color: #D41443;
  padding: auto;
  margin: 0px;
  z-index: 1;
  position: relative;
}

.header-list-text {
  font-family: "DM Sans";
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 30px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", sans-serif;
  cursor: pointer;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav {
  width: 700px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* seccion footer SERGIO */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --red: #d41342;
  --white: #ffffff;
  --background: #ffa5ba;
  --black-text: #000000;
}

.modal,
.modal-2 {
  position: fixed;
  background-color: #e1e1e1;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.modal {
  top: -10px;
  z-index: 1;
}

.modal-2 {
  top: -10px;
  z-index: 10;
}

.modal__container,
.modal__container-2 {
  width: 330px;
  height: 483px;
  margin: auto;
  background-color: #fff5f6;
  box-shadow: 1px 7px 25px rgba(194, 160, 160, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-10%);
}

.modal__title {
  width: 95%;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  color: var(--red);
}

.modal__container .lbl__modalclose,
.modal__container-2 .lbl__modalclose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

#btn__modal:checked~.modal,
#btn__modal-2:checked~.modal-2 {
  opacity: 1;
  visibility: visible;
}

#btn__modal:checked~.modal .modal__container,
#btn__modal-2:checked~.modal-2 .modal__container-2 {
  transform: translateY(0%);
}

.lbl__modal,
.lbl__modal-2 {
  width: 150px;
  height: 44px;
  padding: 10px 15px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 200ms;
}

.lbl__modal {
  background-color: var(--red);
  color: #FFFFFF;
  margin-right: 10px;
}

.lbl__modal:hover,
.lbl__modal-2:hover {
  transform: translateY(-10%);
}

.lbl__modal-2 {
  background-color: var(--white);
  color: #d41342;
}

.lbl__modalclose {
  border-radius: 40%;
  color: #ffa5ba;
}

.lbl__modalclose:hover {
  border-radius: 50%;
  background-color: var(--background);
  color: white;
}

#btn__modal,
#btn__modal-2 {
  position: relative;
  display: none;
}

.modal__text {
  font-size: 18px;
  color: var(--red);
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal__button {
  display: flex;
  justify-content: center;
}

.modal__link {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  width: 200px;
  height: 40px;
  border-radius: 40px;
  font-size: 18px;
  border: 1px solid var(--background);
  background-color: var(--white);
  color: var(--red);
  /* text-align: center; */
  padding-top: 10px;

  transition-property: transform;
  transition-duration: 500ms;
}

.modal__link:hover {
  transform: scale(0.9);
  border: none;
  background-color: var(--background);
  color: var(--white);
  cursor: pointer;
}


.modal__form-data {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;

}

.modal__form-input {
  border-radius: 4px;
  border: 1px solid var(--background);
  outline: none;
  width: 100%;
  height: 40px;
}

.modal__textarea {
  border-radius: 4px;
  border: 1px solid var(--background);
  width: 100%;
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: center;
}

.modal__submit {
  width: 150px;
  height: 50px;
  border-radius: 22px;
  border: 1px solid var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--red);
  background-color: var(--white);
  cursor: pointer;
}


.footer__content {
  max-width: 1200px;
  height: 877px;
  background-color: #fff5f6;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.modal__containt,
.modal__containt-2 {
  width: 302px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--background);
}

.modal__containt-2 {
  border: none;
}

.footer__button {
  position: absolute;
  top: 499px;
  left: 411px;
  width: 411px;
  height: 46px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__iconbutton {
  position: absolute;
  top: 17px;
  left: 175px;
  width: 9.43px;
  height: 10px;
  margin-left: 6px;
}

.footer__iconbutton-2 {
  position: absolute;
  top: 17px;
  left: 320px;
  width: 9.43px;
  height: 10px;
  margin-left: 6px;

}

.footer__title {
  position: absolute;
  top: 150px;
  left: -350px;
  width: 500px;
  height: 134px;

  transition-property: transform;
  transition-duration: 1000ms;
}

.footer__title:hover {
  transform: scale(1.1);
}

.footer__paragraphone {
  width: 474px;
  height: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--background);
  margin-bottom: 32px;


  transition-duration: 500ms;

}

.footer__paragraphone:hover {
  max-width: 452px;
}

.footer__paragraphone:hover>span {
  color: var(--red);
}

.footer__paragraphtwo {
  width: 474px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;


  text-transform: uppercase;
  color: var(--red);

  transition-property: transform;
}


.footer__icons {
  position: absolute;
  top: 150px;
  left: 600px;
  width: 162px;
  height: 34px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 34px;
  height: 34px;
  background-color: var(--background);
  border-radius: 50%;
}

.footer__item:hover {
  background-color: var(--red);
}

.footer__vector {
  fill: var(--white);
}

.--githup {
  width: 20px;
  height: 20px;
  margin: 7px;
}

.--telegram {
  width: 20.4px;
  height: 15.87px;
  margin: 9.07px 7.93px 9.07px 5.67px;
}

.--facebook {
  width: 9.35px;
  height: 20.4px;
  margin: 6.8px 11.9px 6.8px 12.75px;
}

.footer__container {
  position: absolute;
  top: 200px;
  left: 440px;
  width: 330px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer__contact {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  margin-left: 10px;
  color: var(--red);
  transition-property: transform;
}

.footer__contact:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}


.footer__border {
  position: absolute;
  top: 340px;
  left: -400px;
  width: 1167px;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  fill: #e1e1e1;
  border: 1px solid #e1e1e1;
}

.footer__end {
  position: absolute;
  top: 345px;
  left: 0px;
  width: 283px;
  height: 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #907e82;
}

.footer__text:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}